:root {
    --gradient-colors: linear-gradient(to right, #ff7eb3, #ff758c, #ffb07c, #ffdf6e, #8be8cb, #76b3ff);
    --gradient-size: 300% 100%;
    --gradient-animation: rainbowFlow 7s linear infinite;
}

/* common */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2C2C2C;
    font-family: "Inter", sans-serif;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-wrap {
    width: 80vw;
    margin-block: 60px;
}

h1, h2, h3, a {
    font-family: "Permanent Marker", "cursive";
}

h2 {
    font-size: 2.5rem;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-inline: 30px;
}

.logo {
    font-size: 1.5rem;
    background: var(--gradient-colors);
    background-size: var(--gradient-size);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(--gradient-animation);
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

nav a {
    padding-block: 20px;
    border-bottom: 4px solid #2C2C2C;
    border-top: 4px solid #2C2C2C;
    text-decoration: none;
}

.nav-toggle {
    display: none;
    border: none;
    background: var(--gradient-colors);
    background-size: var(--gradient-size);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    animation: var(--gradient-animation);
}

.nav-toggle i {
    font-size: 1.5rem;
}

.nav-link-badges { color: #ff7eb3; }
.nav-link-badges:hover { border-bottom: 4px solid #ff7eb3; }

.nav-link-banners { color: #ff758c; }
.nav-link-banners:hover { border-bottom: 4px solid #ff758c; }

.nav-link-cards { color: #ffb07c; }
.nav-link-cards:hover { border-bottom: 4px solid #ffb07c; }

.nav-link-testimonials { color: #ffdf6e; }
.nav-link-testimonials:hover { border-bottom: 4px solid #ffdf6e; }

.nav-link-tooltips { color: #8be8cb; }
.nav-link-tooltips:hover { border-bottom: 4px solid #8be8cb; }

.nav-link-toasts { color: #76b3ff; }
.nav-link-toasts:hover { border-bottom: 4px solid #76b3ff; }

.nav-link-active { color: white; }
.nav-link-active:hover { border-bottom: 4px solid white; }

/* home */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.home h1 {
    font-size: 3rem;
    text-align: center;
    background: var(--gradient-colors);
    background-size: var(--gradient-size);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(--gradient-animation);
    animation-delay: 3s;
}

@keyframes rainbowFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* badge */
.badge-page h2 {
    color: #ff7eb3;
}

.badges-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* banners */
.banner-page h2 {
    color: #ff758c;
}

.banners-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.banner {
    margin-bottom: 30px;
}

.banners-wrap h3:nth-of-type(1) {color: #D1FAE5;}
.banners-wrap h3:nth-of-type(2) {color: #FEF3C7;}
.banners-wrap h3:nth-of-type(3) {color: #FEE2E2;}
.banners-wrap h3:nth-of-type(4) {color: #E0E7FF;}

/* cards */
.card-page h2 {
    color: #ffb07c;
}

.cards-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 100px;
}

/* testimonials */
.testimonial-page h2 {
    color: #ffdf6e;
}

.testimonials-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 70px;
    margin: 60px;
}

/* Tooltips */
.tooltip-page h2 {
    color: #8be8cb;
}

.tooltips-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.tooltip-show {
    color: #8be8cb;
    font-family: "Permanent Marker", "cursive";
    font-size: 1.25rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.4s ease;
}

.tooltip-show:hover {
    font-size: 1.5rem;
}

/* toasts */
.toast-page h2 {
    color: #76b3ff;
}

.toggles-wrap {
    display: flex;
    justify-content: space-around;
}

.toast-toggle {
    font-family: "Permanent Marker", "cursive";
    font-size: 1.25rem;
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    transition: 0.4s ease;
}

.toast-toggle:hover {
    font-size: 1.5rem;
}

.toggles-wrap button:nth-of-type(1) {color: #D1FAE5;}
.toggles-wrap button:nth-of-type(2) {color: #FEF3C7;}
.toggles-wrap button:nth-of-type(3) {color: #FEE2E2;}
.toggles-wrap button:nth-of-type(4) {color: #E0E7FF;}

/* responsive */
@media (max-width: 768px) {
    nav {
        display: none;
    }

    .nav-toggle {
        display: flex;
        z-index: 101;
    }

    .header {
        position: relative;
    }

    nav.nav-active {
        display: flex;
        flex-flow: column;
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        padding: 80px 70px 30px 70px;
        background-color: #f4f4f4;
        border-radius: 0 0 0 2rem;
        z-index: 100;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.441);
        animation: slideDown 0.3s ease-out;
    }

    nav a {
        padding-block: 20px;
        border-bottom: 4px solid #f4f4f4;
        border-top: 4px solid #f4f4f4;
        text-decoration: none;
    }

    nav.nav-active > .nav-link-active {
        color: #2C2C2C !important;
    }

    nav.nav-active > .nav-link-hover {
        border-bottom: 4px solid #2C2C2C;
    }

    .nav-toggle-active {
        background: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #2C2C2C;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}