:root {
    --gradient-colors: linear-gradient(to right, #ff7eb3, #ff758c, #ffb07c, #ffdf6e, #8be8cb, #76b3ff);
    --gradient-size: 300% 100%;
    --gradient-animation: rainbowFlow 7s linear infinite;
}

/* common */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2C2C2C;
    font-family: "Inter", sans-serif;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-wrap {
    width: 80vw;
}

h1, h2, a {
    font-family: "Limelight", sans-serif;
}

h2 {
    font-size: 2.5rem;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-inline: 30px;
}

.logo {
    font-size: 1.5rem;
    background: var(--gradient-colors);
    background-size: var(--gradient-size);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(--gradient-animation);
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

nav a {
    padding-block: 20px;
    border-bottom: 4px solid #2C2C2C;
    border-top: 4px solid #2C2C2C;
    text-decoration: none;
}

nav a:nth-child(1) {color: #ff7eb3;}
nav a:nth-child(1):hover {border-bottom: 4px solid #ff7eb3;}
nav a:nth-child(2) {color: #ff758c;}
nav a:nth-child(2):hover {border-bottom: 4px solid #ff758c;}
nav a:nth-child(3) {color: #ffb07c;}
nav a:nth-child(3):hover {border-bottom: 4px solid #ffb07c;}
nav a:nth-child(4) {color: #ffdf6e;}
nav a:nth-child(4):hover {border-bottom: 4px solid #ffdf6e;}
nav a:nth-child(5) {color: #8be8cb;}
nav a:nth-child(5):hover {border-bottom: 4px solid #8be8cb;}
nav a:nth-child(6) {color: #76b3ff;}
nav a:nth-child(6):hover {border-bottom: 4px solid #76b3ff;}

/* home */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.home h1 {
    font-size: 3rem;
    text-align: center;
    background: var(--gradient-colors);
    background-size: var(--gradient-size);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(--gradient-animation);
    animation-delay: 3s;
}

@keyframes rainbowFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* badge */
.badge-page h2 {
    color: #ff758c;
}

.badges-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.badge {
    padding: 10px;
    background-color: #F3F4F6;
    color: #1F2937;
    font-weight: bold;
}

.badge-round {border-radius: 20px;}
.badge-red{background-color: #FEE2E2; color: #991B1B;}
.badge-yellow{background-color: #FEF3C7; color: #92400E;}
.badge-green{background-color: #D1FAE5; color: #065F46;}
.badge-blue{background-color: #DBEAFE; color: #1E40AF;}
.badge-indigo{background-color: #E0E7FF; color: #3730A3;}
.badge-purple{background-color: #EDE9FE; color: #5B21B6;}
.badge-pink{background-color: #FCE7F3; color: #9D174D;}